<html>
  <head>
  </head>
  <body>
    <h1> San Diego Trivia </h1>
    <strong>
      <%= question %>
    </strong>
    <br />
    <%= answer %>
    <img src="/images/<%= img %>"/>
    <br />
    <a href="/">Back</a>

  </body>
</html>
